<script src="/static/js/weather/test.js"></script>

<div class="row">
	
	<div class="col-md-6" id="colTmpOutside">
	</div>

	<div class="col-md-6" id="colAirMoistOutside">
	</div>
	
</div>


<div class="row">
	
	<div class="col-md-6" id="colDewPoint">
	</div>

	<div class="col-md-6" id="colRainPrHour">
	</div>
	
</div>


<div class="row">
	
	<div class="col-md-6" id="colWindSpeed">
	</div>

	<div class="col-md-6" id="colWindTemp">
	</div>
	
</div>

