<div class="container">
	<div class="row">
		<div class='col-sm-3'>
			<div class="form-group">
				<div class='input-group date' id='dateFrom'>
					<input type='text' class="form-control" />
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>

		
		<div class='col-sm-3'>
			<div class="form-group">
				<div class='input-group date' id='dateTo'>
					<input type='text' class="form-control" />
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>			
	</div>
</div>

<script src="/static/js/weather/test.js"></script>

<div class="row">
	
	<div class="col-md-6" id="colTmpOutside">
	</div>

	<div class="col-md-6" id="colAirMoistOutside">
	</div>
	
</div>


<div class="row">
	
	<div class="col-md-6" id="colDewPoint">
	</div>

	<div class="col-md-6" id="colRainPrHour">
	</div>
	
</div>


<div class="row">
	
	<div class="col-md-6" id="colWindSpeed">
	</div>

	<div class="col-md-6" id="colWindTemp">
	</div>
	
</div>

