<div class="row">
	<div class="col-md-1">

		<div class="row">
			<div class="col-md-12">
				<a href="/">
				<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
				</button></a>
			</div>
		</div>				
		
		<div class="row">
			<div class="col-md-12">
				<a href="/upload">
				<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
					<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
				</button></a>
			</div>
		</div>
		
	</div>
	<div class="col-md-6 col-md-offset-2">
		<div class="container">
			
			<div class="row">
				
				<div class='col-sm-3'>
					<form method="post" enctype="multipart/form-data" action="/upload">
						<div class="form-group">
							<input type="file" name="thumbnail">
						</div>
						<div class="form-group">
							<input type="password" name="password" placeholder="Passord"/>
						</div>
						<div class="form-group">
							<input type="submit" value="Last opp">
						</div>
					</form>
				</div>
				<div class='col-sm-3'>
					Opplastet fil vil overskrive eksisterende databaseinnhold.
				</div>
				
			</div>
		</div>
	</div>
</div>
